* {
  font-family: Roboto, sans-serif;
  color: white;
}

body {
  margin-top: 0;
  margin-bottom: 0;
}

#time {
  font-size: 7rem;
}

#date {
  font-size: 3rem;
}

#infoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 99vh;
}

button {
  border: 0px;
  background-color: transparent;
}

button:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  #infoWrapper {
    text-align: center;
  }
}